# Build artifacts
/build/
/cmake-build-*/
CMakeFiles/
CMakeCache.txt
Testing/
*.o
*.a
*.so
*.dylib
*.dll
*.exe
*.dSYM/

# IDEs & OS cruft
.idea/
.vscode/
.vs/
*.code-workspace
.DS_Store

# Local data
*.pdb